{% extends "Actes/officiers_vue.html" %}

{% block head_ul %} 
<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
   <li>
       <a href="{% url "Client:maire_account_view" message %}" class="nav-link text-white">
         <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
         Dashboard
       </a>
     </li>
   
     <a href="{% url "Client:maire_naissance_view" message %}" class="nav-link text-white">
       <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
       Actes de naissance
     </a>
   </li>
   <li>
     <a href="{% url "Client:maire_mariage_view" message %}" class="nav-link text-white">
       <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
       Actes de mariage
     </a>
   </li>
   <li>
     <a href="{% url "Client:maire_dece_view" message %}" class="nav-link text-white">
       <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
       Actes de décès
     </a>
   </li>
   <li>
     <a href="{% url "Client:maire_account" message %}" class="nav-link text-white">
       <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
       Votre compte
     </a>
   </li>
 </ul>

{%endblock%}

{% block main %} 

<div class ="div-tab" id ="table" >
    <!--<div class = "table-title">Actes de naissance</div> -->
    <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
      {% csrf_token %} 
      {{form1.as_p}}
  </div>
  <h1 style="width: 20%;margin: auto;color:black;font-size:1.6em;">{{table_title}}</h1>
  <br/>
    <table id="result_list" style="width: 100%;">
    <thead>
    <tr>
    
    {% for i in col_head %}
    <th scope="col" class="sortable column-le">
       
       <div class="text">{{i.value}}</div>
       <div class="clear"></div>
    </th>
    {%endfor%}
    </thead>
    <tbody>
  
    {% for i in list %} 
    <tr>
       <th class="field-le"><a href="{{i.link}}">{{i.nom}}</a></th>
        <td class="field-nom">{{i.nom}}</td>
        <td class="field-prenom">{{i.executant}}</td>
    </tr>
    {%endfor%}
    
    </tbody>
    </table>
    </div>

{%endblock%}