{%extends "Actes/templates2.html" %}

{% block head_ul %} 
<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
   <li>
       <a href="{% url "Client:maire_account_view" message %}" class="nav-link text-white">
         <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
         Dashboard
       </a>
     </li>
   
     <a href="{% url "Client:maire_naissance_view" message %}" class="nav-link text-white">
       <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
       Actes de naissance
     </a>
   </li>
   <li>
     <a href="{% url "Client:maire_mariage_view" message %}" class="nav-link text-white">
       <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
       Actes de mariage
     </a>
   </li>
   <li>
     <a href="{% url "Client:maire_dece_view" message %}" class="nav-link text-white">
       <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
       Actes de décès
     </a>
   </li>
   <li>
     <a href="{% url "Client:maire_account" message %}" class="nav-link text-white">
       <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
       Votre compte
     </a>
   </li>
 </ul>

{%endblock%}











{%block main%} 
<main style="width: 80%;margin-left: auto;">

  {%if tran_footer %} 
  <div class="col-md-7 col-lg-8">
    <div class="row g-3">

      <div class="col-sm-6">
          REGION MARITIME
          <br/>
          <br/>

          <p style="width: 50%;">
              COMMUNE DU GOLFE 1 ETAT CIVIL ETRANGER
          </p>
          
      </div>

      <div class="col-sm-6">
          REPUBLIQUE TOGOLAISE
          <p style="width: 90%;margin: auto;font-size: 0.8em;">
          TRAVAIL-LIBERTE-PATRIE</p>
          <br/>
          
          <p>Volet N°  {{re.volet_numero}}</p>
      </div>

    </div>
</div>

  {%else%}
    <div class="col-md-7 col-lg-8">
          <div class="row g-3">

            <div class="col-sm-6">
                REGION MARITIME
                <br/>
                <br/>

                <p style="width: 50%;">
                    COMMUNE DU GOLFE 1 ETAT CIVIL ETRANGER
                </p>
                
            </div>

            <div class="col-sm-6">
                REPUBLIQUE TOGOLAISE
                <p style="width: 90%;margin: auto;font-size: 0.8em;">
                TRAVAIL-LIBERTE-PATRIE</p>
                <br/>
                <p>Registre N° {{re.registre_numero}}</p>
                <p>Feuillet N° {{re.feillet_numero}}</p>
                <p>Volet N°  {{re.volet_numero}}</p>
                <p>Année N°  {{re.annee}}</p>
            </div>

          </div>
    </div>
   {%endif%} 
   
    <br/><br/>

    <div class="col-md-7 col-lg-8">
      {%if trans %}
      <p style="width: 70%;margin: auto; text-decoration: underline;font-size: 1.8em;">{{form_title}} {{re.acte_numero}}</p>
      <p style="width: 40%;margin: auto; text-decoration: underline;font-size: 1.2em;">TRANSCRIPTION</p>
      
      {%else%}
      <p style="width: 70%;margin: auto; text-decoration: underline;font-size: xx-large;">{{form_title}} {{re.acte_numero}}</p>
      {%endif%}
      <div class="row g-3">
            <br/><br/>

            {% for k in form %}
            <div class="{{k.containner}}">
                <label for="{{k.label}}" class="form-label">{{k.label}}</label>
                {{k.f}}
               <div class="invalid-feedback">
                  
                </div>
              </div>
              {% endfor %}
                
        </div>
      
    </div>
    <br/><br/>
    
    {%if mariage_footer %}
    <div class="col-md-7 col-lg-8">
        <div class="row g-3">
            <div class="col-sm-6"> 
                <p style="width: 50%;font-weight: bold;">
                    Sceau et Signature de l'Officier de l'Etat civil</p>
            </div>

            <div class="col-sm-6">
                 <p style="width: 50%;font-weight: bold;">
                    Signatures
                </p>

                <div class="col-md-7 col-lg-8">
                    <div class="row g-3">
                <div class="col-sm-6">Epoux.........</div>
                <div class="col-sm-6">Témoin.........</div>
                    </div>
                </div>
                <br/><br/>
                <div class="col-md-7 col-lg-8">
                    <div class="row g-3">
                <div class="col-sm-6">Epouse.........</div>
                <div class="col-sm-6">Témoin.........</div>
                    </div>
                </div>

                
            
                </div>
        </div>
    </div>

    <!--Footer pour la naissance -->
    <br/><br/>
    {%elif naissance_footer %} 
    <div class="col-md-7 col-lg-8">
      <div class="row g-3">

        <div class="col-sm-6">
          <p style="width: 50%;">
          Sceau et Signature de l'Officier de l'Etat civil 
          </p>
        </div>

        <div class="col-sm-6">
          <p style="width: 50%;">
          Signature du (de la) déclarant (e)
          </p>
        </div>


      </div>
      
    </div>
    <br/><br/>
    {%elif deces_footer %} 
    <div class="col-md-7 col-lg-8">
      <div class="row g-3">

        <div class="col-sm-6">
          <p style="width: 50%;">
          Sceau et Signature de l'Officier de l'Etat civil 
          </p>
        </div>

        <div class="col-sm-6">
          <p style="width: 50%;">
          Signature du (de la) déclarant (e)
          </p>
        </div>


      </div>
    </div>


    <!--Pour les transcriptions les trois confondus -->
    {%elif tran_footer %} 

    <div class="col-md-7 col-lg-8">
      <div class="row g-3">
        
        <div class="col-12s">
          <p style="width: 40%;margin:auto;font-weight: bold;font-size: large;">
            L'officier de l'Etat civil</p>
        </div>

        <div class="col-12s">
          <p style="font-weight: bold;font-size: large;">
            Signature (s)
          </p>
          
        </div>

        <div class="col-12s">Transcrit le ............................
          .....................................................
          .....................................................
         <br/><br/>.....................................................
         ..................................................
          à l'Etat Civil Etranger du Golfe 1.
        </div>  
        
      </div>

    </div>
    {%endif%}
    <br/>

    <h3>Vos fichiers</h3>
    <div class="col-md-7 col-lg-8">
      <div class="row g-3">
          <div class="col-sm-6"> 
            <a href = "{{original_url}}" class = "btn btn-primary">Original</a>
          </div>
          <div class="col-sm-6"> 
            <a href = "{{tran_url}}" class = "btn btn-primary">Transcription</a>
          </div>

          <a class = "btn btn-lg btn-primary" href = "{{print_link}}"> Imprimer </a>
      </div>
    </div>
    <br/>
                     

</main>

{%endblock%}

{%block script %}

{%endblock%}