{%extends "Actes/templates2.html" %} 


{% block head_ul %} 
<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
   <li>
       <a href="{% url "Client:maire_account_view" message %}" class="nav-link text-white">
         <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
         Dashboard
       </a>
     </li>
   
     <a href="{% url "Client:maire_naissance_view" message %}" class="nav-link text-white">
       <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
       Actes de naissance
     </a>
   </li>
   <li>
     <a href="{% url "Client:maire_mariage_view" message %}" class="nav-link text-white">
       <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
       Actes de mariage
     </a>
   </li>
   <li>
     <a href="{% url "Client:maire_dece_view" message %}" class="nav-link text-white">
       <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
       Actes de décès
     </a>
   </li>
   <li>
     <a href="{% url "Client:maire_account" message %}" class="nav-link text-white">
       <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
       Votre compte
     </a>
   </li>
 </ul>

{%endblock%}

{%block script %} 

{%endblock%}
